@model ServiceSupport.ListingImage

@{
    if (@Model.OtherListingImages != null)
    {
        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            @{
                                foreach (var image in @Model.OtherListingImages)
                                {
                                    <div class="col-xs-3">
                                        <a href="#x"><img src="@image" alt="Image" class="img-responsive"></a>
                                    </div>
                                }
                            }
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    }

}