<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SourceDB" connectionString="Data Source=prod_sds_sql_05;   Initial Catalog=MPRRedirect;User ID=****;Password=********;Connect Timeout=1000;Application Name=SDS.PropertyLinkage.Coordinator;" />
    <add name="DestDB"   connectionString="Data Source=daz02sql883\vsql03;Initial Catalog=MPRRedirect;User ID=****;Password=********;Connect Timeout=1000;Application Name=SDS.PropertyLinkage.Coordinator;" />
  </connectionStrings>
  
</configuration>